/* Применение шрифта Geologica ко всей странице */
/* body {
    font-family: 'Geologica', sans-serif;

}

#main__container {
    height: 100vh;
    display: flex;
    gap: 3;
    justify-content: center;
    align-items: center;
    margin: 0;
} */




body {
    font-family: 'Geologica', sans-serif;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
.row{
    height: 100%;
    width: 100%;
}
#main__content{
    height: 100vh;
}

#main__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3;
    margin: 0;
    padding: 0;
}
/* Изменение цвета стрелочки */
.btn-group {
    position: relative;
    background: #00C0ED;
    /* Для правильного позиционирования стрелки */
}
#btn_question {
background: #2887fa;
color: #fff;
border-radius: 12px;
}
#agreeCheckboxlabel{
    font-weight: 250px;
    font-size: 11px;
    line-height: 13.75px;
}



.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: 10px;
    /* Позиционирование справа */
    top: 50%;
    transform: translateY(-50%);
    border-top-color: #2887fa;
    /* Цвет стрелки */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
html {

    max-width: 450px;
}

#form__body {
    width: 100%;

}

label {
    opacity: 80%;
}

h2 {
    width: 212px;
    font-size: 28px;
    font-weight: 700;
}


.form_button{
    height: 60px;
    border: 0cm;
    border-radius: 20px;
    background-color: #00C0ED;
    color: #fff;
}

#resblock{
    background-color: #F4F6F8;
    border-radius: 10px;
    min-height: 40px;
}

#picth4{
    font-weight: 600;
    font-size: 14px;
}
#pictp {
    font-weight: 250;
    font-size: 11px;

}

.icon {
    height: 16px;
    width: auto;
    /* ширина будет пропорциональна высоте */
}